.character{
    background: #E070AC;
    width: 15%;
    border-style: solid;
    border-color: $color-1;
    padding : 0.5rem;
    display: flex;
    margin: 1rem;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: 5px 9px 9px 2px #12121262; 
    justify-content: space-between;
    max-height: 460px;
    min-width: 300px;

}

.name{
    color: $color-2;
    width: 100%;
    text-shadow: 2px 2px 3px rgb(4, 0.5, 0.5);
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    display:inline;
    margin : 0px;
    padding : 0px;  
    font-size: 1.5em;
    max-height: 55px;
    max-width: 100%;
    margin-bottom: 10px;
}

.pix {   
    width: 100%;

    overflow:hidden;
    max-width: 100%;
    min-height: 250px;
    max-height: 200px;
    min-width: 290;
    
  //   align-items: center; /* alignement verticalement
   // justify-content: space-between; /* centrer horizontalement 
}

.infos {
    display : flex;
    justify-content: space-between;

    flex-wrap: wrap;
    width:100%;
    margin-top: 8px;
    max-height: 20px;

}

.infos > span {
    font-size: 0.9em;
}
   
.plusinfo{

    font-size: 0.9em;
    padding: 0px 10px; 
    cursor: help;
    position: relative;

  }

  .plusinfo:hover{
    background:rgba(0,0,0,.4);
    box-shadow:0 1px 0 rgba(255,255,255,.4);
    
}
  
  .infobulle{
    opacity: 0;
    width: 80px;
    height: 35px;
    background: #ffffff;
    color: #868686;
    position: absolute;
    transition: 0.2s ease all;
    border-radius: 5px;
    text-align:center;
    top: -5px;
    left: -34px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
    font-family: Avenir;
    transform:scale(0) rotate(-12deg);
  }
  
  .plusinfo:hover .infobulle{
    opacity: 1;
    top: -40px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transform:scale(1) rotate(0); 
  }
  
   
  .infobulle2{
    opacity: 0;
    width: 100px;
    height: 50px;
    background: #ffffff;
    color: #868686;
    position: absolute;
    transition: 0.2s ease all;
    border-radius: 5px;
    text-align:center;
    top: -5px;
    left: 4px;
    box-shadow: 0 0 0 0 rgba(0,0,0,0.0);
    font-family: Avenir;
    transform:scale(0) rotate(-12deg);
  }

  .plusinfo:hover .infobulle2{
    opacity: 1;
    top: -55px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    transform:scale(1) rotate(0); 
  }
  
  .pen {
    background: rgb(112, 206, 89);
    z-index: 1;
  


  }