.navigation {
    /* margin: 26px 0; */
    display : flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;


    a{margin : 10px;
    padding: 10px;
    position: relative;
    
    }

    .nav-active{
        &::after{
            content: '';
            width:85%;
            height: 5px;
            background : $color-1;
            position: absolute;
            bottom : 1px;
            left : 50%;
            transform: translateX(-50%);
        }
    }
}

.navigation :hover {
    color: $color-1;
}

.logo{
    text-align: left;
    height: 80px;
    pointer-events: none;
    fill: $color-1;
}
  
.bandeau {
        width: 100%;
        height: 18%;
        background-size: 100vw 100%;
        background-repeat: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
}